<body style="background-color:<%= @color %>">
<!-- onclick="location.href='/'" -->
<br />
<h1><%= @message %></h1>
<br />
<div><img src="<%= @image %>" /></div>
<br />

<a id="another" href="/">Another!</a>
<br />
<a id="share-link" href="/<%= @mess %>/<%= @col %>/<%= @img %>">Share Link</a>
